* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: rgb(51, 51, 51);
}
button {
  font-family: "Muli", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}
.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}
.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  /* overflow: hidden; */
}
.color h2 {
  font-size: 2rem;
  cursor: pointer;
}
/* sliders style*/

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: rgb(255, 255, 255);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.sliders button {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(236, 17, 17);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
}
/*sliders style end*/

.controls {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}
.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(31, 32, 61);
  border: none;
  color: none;
  cursor: pointer;
  border-radius: 1rem;
}
.panel p {
  font-size: 1.2rem;
}
.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}
.copy-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.copy-popup {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}
.copy-popup h3 {
  font-size: 2rem;
  padding: 2rem;
}
.copy-container.active {
  opacity: 1;
  pointer-events: all;
}
.copy-popup.active {
  transform: translateY(0rem);
}
